<p>
  contact works!
</p>


<div class="container">
    <h1>Contact</h1>
    <form #contactForm="ngForm" (ngSubmit)="createContact(clienteForm)">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" required
               name="name" [(ngModel)]="newContact.name"
               #name="ngModel" 
        >
      </div>
 
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email"
               name="email" [(ngModel)]="newContact.email"
               #email="ngModel" 
        >
      </div>
 
		<div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" class="form-control" id="phone"
               name="phone" [(ngModel)]="newContact.phone"
               #phone="ngModel" 
        
        >
      </div>
 
      <button type="submit" class="btn btn-success">Submit</button>
 
    </form>
</div>
